<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#8257E5" />
    <title>Proffy | Your new online study platform</title>
    <link rel="stylesheet" href="./resources/style.css" />
    <link rel="stylesheet" href="./resources/partials/header.css" />
    <link rel="stylesheet" href="./resources/partials/page-landing.css" />
    <link rel="shortcut icon" href="./images/favicon.png" type="image/x-icon" />
    <link
      href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap"
      rel="stylesheet"
    />
  </head>
  <body id="page-landing">
    <div id="container">
      <div class="logo-container">
        <img src="./images/logo.svg" alt="Proffy-Logo" />
        <h2>Your online study platform</h2>
      </div>
      <img class="hero-image" src="./images/landing.svg" alt="Study platform" />
      <div class="buttons-container">
        <a class="study" href="/study"
          ><img src="./images/icons/study.svg" alt="Study" />Study
        </a>
        <a class="teach" href="/give-classes"
          ><img src="./images/icons/give-classes.svg" alt="Teach" />Teach
        </a>
      </div>
      <p class="total-connections">
        More then 200 successful connections!
        <img src="./images/icons/purple-heart.svg" alt="Purple Heart" />
      </p>
    </div>
  </body>
</html>
